body {
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    transition: 0.3 !important;
    -webkit-transition: 0.3 !important;
    -moz-transition: 0.3 !important;
    -ms-transition: 0.3 !important;
    -o-transition: 0.3 !important;
    /* font-family: 'Readex Pro', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

:root {
    --theme_color: #fed700;
    --black: #000;
    --black_light: #333;
    --title_text: #373F50;
    --red_light: #AC0202;
    --white: #fff;
    --gray_light: #F7F7F7;
    --section_bg: #F6F9FC;
    --black_light_one: #7D879C;
    --gray: #878787;
    --secondary-color: #333e48;
    --theme_color_sub:#f78035;
}

.btn-custom {
    padding: 10px 27px;
    background: var(--theme_color_sub);
    color: var(--white);
    text-decoration: none;
    text-decoration-line: none;
    transition: .4s linear;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border-radius: 0px;
    font-size: 14px;
    border: 0;
}

.btn-custom:hover {
    color: white;
}

.btn-custom:hover::before {
    transform: scaley(1);
    color: black;
    z-index: -1;
}

.btn-custom::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    z-index: 1;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaley(0);
}


/* Product Listing Page */

#product-listing-page .left-side-wrapper {
    position: sticky;
    top: 15%;
}

#product-listing-page .left-side-wrapper .card-wrapper {
    border-bottom: 2px solid var(--theme_color);
}

.left-side-wrapper {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 8px;
}

.left-side-wrapper .head h6 {
    color: var(--theme_color);
}

.filter-content1 .item a {
    text-decoration: none;
    color: var(--gray);
    font-size: 14px;
}

.filter-content1 ul li {
    border-bottom: 1px solid var(--second-color);
    margin-bottom: 5px;
}

.filter-content1 .item .active {
    color: var(--main-color);
}


/*
        .filter-content1,
        .filter-content2 {
            min-height: 150px;
            max-height: 200px;
            overflow-y: scroll;
        } */

.left-side-wrapper .expand a {
    text-decoration: none;
    color: var(--theme_color);
}

.slider.slider-horizontal {
    width: -webkit-fill-available;
    height: 20px;
}


/* color select box start  */

.color_single {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.color_single input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.color_single:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.color_single input:checked~.checkmark {
    background-color: #2196f3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.color_single input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.color_single .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

small.round {
    width: 1rem;
    height: 1rem;
    background: var(--red);
    display: inline-block;
    border-radius: 50px;
    /* margin-left: 0.5rem; */
    margin: 0rem 0.3rem;
    transform: translateY(4px);
}


/* color select box end  */

a.btn {
    color: var(--white);
    background: var(--black_light);
    padding: 0;
    height: 1.5rem;
    line-height: 2rem;
    width: 47%;
    transition: 0.3s;
}

a.btn:hover {
    color: var(--blue);
    background: transparent;
}


/* Product Listing */

.navigator a {
    color: var(--theme_color);
    font-weight: 600;
    text-decoration: none;
}

#product-listing-wrapper .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    width: 100%;
}

#product-listing-wrapper .grid-item {
    padding: 15px 15px 7px 15px;
    position: relative;
}

#product-listing-wrapper .grid-item::after {
    content: '';
    right: -1px;
    height: 60%;
    width: 1px;
    top: 20%;
    position: absolute;
    background-color: #ececec;
    ;
}

#product-listing-wrapper .grid-item.g-4::after {
    content: unset;
}

.product-grid-item {
    transition: all .5s;
    position: relative;
}

.product-grid-item a {
    text-decoration: none;
}

.grid-item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgb(0 0 0 / 15%) 0px 20px 34px -20px; */
}

.product-grid-item:hover {
    transition: all .5s;
}

.product-grid-item .product-grid-image {
    position: relative;
    transition: all .3s ease 0s;
}

.product-grid-item .product-grid-image a {
    display: block;
}

.product-grid-item .product-grid-image img {
    width: 100%;
    max-height: 190px;
    min-height: 190px;
    object-fit: cover;
    object-position: center;
}

.product-grid-item .pic-1 {
    opacity: 1;
    transition: all .5s;
    transform: scale(1.0);
}

.product-grid-item:hover .pic-1 {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all .5s;
}

.product-grid-item .category-title .category {
    color: rgb(163, 163, 163);
    font-size: 10px;
}

.product-grid-item .category-title .title a {
    color: var(--theme_color);
}

.product-grid-item .product-discount-label {
    display: block;
    padding: 5px;
    color: #fff;
    background-color: var(--theme_color);
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 12px;
}

.product-grid-item .all-deals {
    display: block;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease 0s;
}

.product-grid-item .all-deals.ico {
    font-size: 14px;
}

.product-grid-item .cart-compare a:hover {
    color: var(--theme_color);
}

.product-grid-item .cart-compare {
    opacity: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 4px 4px 0;
    margin-top: 6px;
    border-top: 1px solid transparent;
}

.product-grid-item:hover .cart-compare {
    opacity: 1;
    transition: .5s;
    border-top: 1px solid #eeeeee;
}


/* .product-grid-item .cart-compare {
    opacity: 0;
    display: none;
    content-visibility: hidden;
    width: 100%;
}

.product-grid-item:hover .cart-compare {
    opacity: 1;
    display: flex;
    justify-content: space-around;
    content-visibility: visible;
    transition: .5s;
    border-top: 1px solid #e6e6e6;
    padding: 4px 0;
    margin-top: 6px;
} */

.product-grid-item .price-cart {
    color: var(--black);
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-grid-item .price-cart .all-deals {
    background-color: rgb(239 239 239);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-grid-item:hover .price-cart .all-deals {
    background-color: var(--theme_color);
    color: white;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 0.5s linear;
    animation-iteration-count: 1;
}

.product-grid-item .price-cart span {
    color: var(--red);
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 7px;
}

.show-filter {
    border-bottom: 1px solid #dddddd;
}

.show-filter select {
    font-size: 14px;
}

.product-grid-item .gray {
    color: var(--gray);
}

h6.gray {
    font-size: 15px;
}

.colors_block label span {
    font-size: 14px;
}


/* Product Listing Ends*/


/* Product Listing Page Ends */


/* Login Page */

#login-register-wrapper {
    font-family: 'Open Sans', sans-serif;
}

#login-register-wrapper a {
    text-decoration: none;
    color: var(--red_light);
    font-size: 0.8rem;
}

#login-register-wrapper .custom-font-size {
    font-size: 0.9rem;
}

#login-register-wrapper {
    background-image: url(../images/banner/1.jpg);
    background-size: cover;
    background-position: center;
}

#login-register-wrapper i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--red_light);
}

#login-register-wrapper form {
    box-shadow: rgb(0 0 0 / 20%) -20px 36px 30px -7px;
    /* box-shadow: rgb(0 0 0 / 20%) -20px 10px 20px 0px; */
    /* box-shadow: rgb(0 0 0 / 20%) -60px -15px 60px -40px; */
    /* border: 4px solid var(--main-color); */
    border-radius: 8px;
    transition: .5s;
    background-color: white;
}


/* #login-register-wrapper form:hover {
    box-shadow: rgb(0 0 0 / 20%) -60px -15px 60px -40px;
    border-radius: 8px;
    transition: .5s;
    transform: translate(-20px);
} */

#login-register-wrapper .social-media a {
    color: white;
    background-color: var(--red_light);
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 4px;
    line-height: 2;
}

#login-register-wrapper .title {
    color: var(--red_light);
}

#login-register-wrapper form input::placeholder {
    font-size: 0.75rem;
}

.btn-shine {
    position: relative;
    color: #ffffff;
    background: linear-gradient(to right, #ac0202 0, #ac0202 10%, #4d4d4d 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 300px;
    }
}


/* Login Page Ends */


/* Product Detail  */


/* Product carousel & zoom */

.product-carousel {
    display: block;
    max-width: 700px;
    margin: 1em auto 3em;
}

.product-carousel a {
    display: block;
}

.product-carousel .gallery-top {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    height: 450px !important;
}

#product-detail-wrapper .swiper-wrapper {
    box-sizing: inherit;
}

.product-carousel .gallery-top .swiper-slide {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-carousel .gallery-top .swiper-slide a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.product-carousel .gallery-top .swiper-slide a img {
    max-width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
    object-position: center;
}


/* 
.product-carousel .swiper-button-next,
.swiper-button-prev {
    display: none !important;
} */

.product-carousel .swiper-button-next.swiper-button-white,
.product-carousel .swiper-button-prev.swiper-button-white {
    color: var(--theme_color);
}

.product-carousel .gallery-thumbs .swiper-slide {
    position: relative;
    transition: border .15s linear;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.product-carousel .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #000;
}

.product-carousel .gallery-thumbs .swiper-slide img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 96px;
    min-height: 96px;
}

#product-detail-wrapper a,
#product-detail-wrapper p {
    font-size: 0.9rem;
}

#product-detail-wrapper {
    border-bottom: 4px solid var(--main-color);
}

#product-detail-wrapper .swiper-container.gallery-thumbs {
    height: 100px !important;
}

#product-detail-wrapper .p-ratings .fa-star {
    color: orange;
}

#product-detail-wrapper .product-price {
    padding: 5px;
    font-size: 0.9rem;
    background-color: var(--theme_color);
}

#product-detail-wrapper .product-price .first-price {
    text-decoration: line-through;
    color: var(--red_light);
}

#product-detail-wrapper .product-price .second-price {
    font-size: 1.05rem;
}


/* #product-detail-wrapper .product-price .second-price {} */

#product-detail-wrapper .quantity input {
    width: 60px;
    height: 38px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
}


/* Product carousel & zoom ends*/

#product-detail-wrapper .tab-pane input,
.tab-pane textarea {
    border-color: 1px solid #c9c9c9;
}

#product-detail-wrapper .tab-pane h2 {
    color: var(--third-color);
}

#product-detail-wrapper .user-comment {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#product-detail-wrapper .comments-content {
    max-height: 340px;
    min-height: 340px;
    overflow-y: scroll;
}

#product-detail-wrapper table h4,
table th {
    color: var(--third-color);
}


/* Product Size */

#product-detail-wrapper .size-wrapper .select-size {
    display: flex;
}

#product-detail-wrapper .size-wrapper .select-size .size {
    padding: 5px 10px;
    margin: 0 5px;
    border: 2px solid gray;
}

#product-detail-wrapper .size-wrapper .select-size .size-active {
    padding: 3px 10px;
    margin: 0 5px;
    background-color: var(--secondary-color);
    border: 2px solid var(--theme_color);
    color: white;
}

#product-detail-wrapper .select-image-size {
    display: flex;
}

#product-detail-wrapper .select-image-size .imagesize {
    margin: 0 5px;
    border: 2px solid gray;
    padding: 3px 6px;
}

#product-detail-wrapper .select-image-size .imagesize-active {
    margin: 0 5px;
    padding: 3px 6px;
    border: 2px solid var(--theme_color);
}

#product-detail-wrapper .select-image-size .imagesize img {
    max-height: 35px;
    min-height: 35px;
    object-fit: contain;
    object-position: center;
}

#product-detail-wrapper .select-image-size .imagesize-active img {
    max-height: 35px;
    min-height: 35px;
    object-fit: contain;
    object-position: center;
}

#product-detail-wrapper label.radio {
    cursor: pointer;
    display: inline-flex;
}

#product-detail-wrapper label.radio .red {
    background-color: var(--red_light);
    border-color: var(--red_light);
}

#product-detail-wrapper label.radio .green {
    background-color: rgb(70, 136, 70);
    border-color: rgb(70, 136, 70);
    ;
}

#product-detail-wrapper label.radio .blue {
    background-color: rgb(55, 148, 255);
    border-color: rgb(55, 148, 255);
    ;
}

#product-detail-wrapper label.radio .orange {
    background-color: var(--theme_color);
    border-color: var(--theme_color);
}

#product-detail-wrapper label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    width: 36px;
    height: 36px;
    text-transform: uppercase;
    transition: 0.5s all;
}

#product-detail-wrapper label.radio input:checked+span {
    color: #fff;
    position: relative;
}

#product-detail-wrapper label.radio input:checked+span::before {
    opacity: 1;
    content: "\2713";
    position: absolute;
    /* font-size: 13px; */
    font-weight: bold;
    /* left: 4px; */
    transform: translate(9px, 5px);
    /* margin: auto; */
    /* text-align: center; */
}

#product-detail-wrapper label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
}

#product-detail-wrapper .quantity .qty span {
    cursor: pointer;
    display: inline-flex;
    width: 37px;
    padding: 5px 8px;
    justify-content: center;
    background: #fed700;
    font-size: 20px;
}

#product-detail-wrapper .image-size-wrapper .form-group:first-child {
    border-right: 1px solid #d0d0d0;
}

#product-detail-wrapper .descrip {
    max-height: 95px;
    min-height: 95px;
    overflow: hidden;
}

#product-detail-wrapper .descrip h5 {
    font-weight: 600;
    color: var(--secondary-color);
}

#product-detail-wrapper .descrip p {
    font-size: 0.9rem;
}


/* Product Size Ends */

#product-detail-wrapper .social-media label {
    color: var(--secondary-color);
}

#product-detail-wrapper .social-media ul li a {
    height: 35px;
    width: 35px;
    border: 3px solid var(--theme_color);
    border-radius: 50px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Product Detail Ends */